NEXT_PUBLIC_API_URL=https://qa-apipy.safwanet.com
NEXT_PUBLIC_M1_API_URL=https://qa-apipym1.safwanet.com
NEXT_PUBLIC_M2_API_URL=https://qa-apipym2.safwanet.com
NEXT_PUBLIC_API_USERNAME=banidom
NEXT_PUBLIC_API_PASSWORD=pass2468

FERNET_KEY=joiyKed1p78GJQ-N2MtEdHfOZ8gzlxe4I7GEyoMTm1Q=

AUTH_SECRET=LTkjH2OIdwkFOusCZ/zGMt+Mz3Q2pAd73mkG5GJxgpw=
DRIZZLE_DATABASE_URI=mysql://admin_sync:password5678@safwa-qa-mysql80-v2.crlozpzigni5.ap-southeast-1.rds.amazonaws.com/schinkels
DRIZZLE_DATABASE_HOST=safwa-qa-mysql80-v2.crlozpzigni5.ap-southeast-1.rds.amazonaws.com
DRIZZLE_DATABASE_PORT=3306
DRIZZLE_DATABASE_USER=admin_sync
DRIZZLE_DATABASE_PASSWORD=password5678
DRIZZLE_DATABASE_NAME=schinkels


