:root {
  @media (prefers-color-scheme: dark) {
    body {
      color: #000;
      background: #fff;
    }
  }

  --fc-neutral-50: #f8fafc;
  --fc-neutral-100: #f1f5f9;
  --fc-neutral-200: #e2e8f0;
  --fc-neutral-300: #cbd5e1;
  --fc-neutral-400: #94a3b8;
  --fc-neutral-500: #64748b;
  --fc-neutral-600: #475569;
  --fc-neutral-700: #334155;
  --fc-neutral-800: #1e293b;
  --fc-neutral-900: #0f172a;
  --fc-basic-black: #000000;
  --fc-basic-white: #ffffff;
  --fc-brand-50: #f1e6ff;
  --fc-brand-100: #e2ccff;
  --fc-brand-200: #d4b3ff;
  --fc-brand-300: #c599ff;
  --fc-brand-400: #b780ff;
  --fc-brand-500: #a866ff;
  --fc-brand-600: #9a4dff;
  --fc-brand-700: #9747ff;
  --fc-brand-800: #8b33ff;
  --fc-brand-900: #7d1aff;
  --fc-status-rose-50: #fff1f2;
  --fc-status-rose-400: #fb7185;
  --fc-status-rose-600: #e11d48;
  --fc-status-amber-100: #fff099;
  --fc-status-amber-400: #ffd700;
  --fc-status-amber-600: #ccad00;
  --fc-status-teal-50: #f0fdfa;
  --fc-status-teal-400: #2dd4bf;
  --fc-status-teal-600: #0d9488;

  --fc-border-gray: #ebeaea;
}
